.need {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}
    h3.title {
        display: block;
        clear: both;
        padding: 15px 0;
        border-right: none;
        border-left: none;
        font-size: 18;
    }
    .filterBox {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
    }
        .filterBox a {
            width: calc(100%/5 - 5px);
            margin-bottom: 15px;
            position: relative;
        }
            .filterBox a img {
                width: 100%;
                height: auto;
                display: block;
                margin: auto;
                max-width: 130px;
                padding-bottom: 10px;
            }
        .need a:not(:last-child):after {
            content: '';
            width: 2px;
            height: 49%;
            background-color: #eee;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            position: absolute;
        }
    