header {
    background-color: #000;
    height: 80px;
    padding: 0;
    margin: 0;
}

header .wrap-main {
    height: 40px;
    width: 1200px;
    height: 40px;
    margin: 0 auto;
}
    header .wrap-main nav {
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
    }
    header .wrap-main nav > li {
        height: 40px;
        width: 150px;
        padding: 0 30px;
        
    }
    header .wrap-main nav > li.logo a{
        line-height: 40px;
        color: #FFF;
        font-size: 22px;
        font-weight: 800;
        letter-spacing: 5px;
        width: 100%;
    }
    header #search-site {
        height: 30px;
        margin-top: 5px;
        width: 300px;
    }
        #search-site{ 
            width: 230px;
            height: 30px;
            margin: 10px 0px 0 10px;
            background: #fff;
            border-radius: 4px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
        }
            .topinput {         
                width: 262px;
                margin-left: 8px;
                padding-top: 3px;
                border: 0;
                height: 24px;
                
                text-indent: 10px;
                font-size: 13px;
            }
            .btntop {
                width: 26px;
                height: 26px;
                padding-top: 0px;
                margin: auto;
                outline: 0;
                background: #FFF;
                border: 0;
                border-left: 1px solid #777;
            }
        .menu-info {
           display: flex;
        }
            header .menu-info * {
                display: inline-block;
                vertical-align: middle;
                color: #fff;
                font-size: 14px;
            }
            #carts {
                background: rgba(255,255,255,.4);
                width: 97px;
                border: 1px solid #8F8F8F;
                border-radius: 4px;
                height: 30px;
                text-align: center;
                line-height: 30px;
                margin: 4px 0 0 30px;
            }
                header .menu-info .roundy,
                .roundy {
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    background-color: #FF101D;
                    text-align: center;
                    line-height: 20px;
                    font-size: 12px;
                    color: #FFF;
                    font-weight: 600;
                    margin-right: 5px;
                }
            .menu-right {
                display: flex;
                justify-content: space-between;
                align-items: center; 
            }
            .menu-right li {
                line-height: 40px;
                padding: 0 12px;
            }
            .menu-right li:hover {
                background-color: #FFF;
            }
            .menu-right li:hover a {
                color: #333;
            }

header .wrap-nav {
    background-color: #FED101;
    height: 40px;
    overflow: hidden;
}
header nav {
    max-width: 1200px;
    margin: 0 auto;
    min-width: 1024px;
    width: 100%;
}

header .wrap-nav nav li {
    padding: 0 13px;
    display: table-cell !important;
    vertical-align: middle;
    height: 40px;
    white-space: nowrap;
    text-transform: none;
    font-size: 14px;
}
header .wrap-nav nav li:hover,
header .wrap-nav nav li:focus {
    background-color: #FFF;
}