* {padding: 0 ;margin: 0;}

body, input, button, option, textarea, label, legend, h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{
    color: #333;
    outline: none;
    zoom: 1;
    padding: 0;
    margin: 0;
}
body{
    background: #ffe7ab url('./img/bg-v3.png') center top;
    position: relative;
}
body::before{
    content: "";
    background: transparent url('./img/bg-top-v2.png') center top fixed;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1000px;
    min-height: 1000px;
    z-index: -1;
}


section {
    max-width: 1200px;
    width: 100%;
    min-width: 1024px;
    margin: 0px auto 20px;
    position: relative;
    overflow: hidden;
    background: #FFF;
}


/* section,
.home-menu section,
body>.topbanner:first-child,
body>div.banner:nth-child(2) {
    margin-top: 80px;
} */

a,
a:active,
a:hover,
a:link,
a:visited {
    text-decoration: none;
    color: rgba(0, 0, 0, .9);
}

ul,
ol,
li {
    list-style: none;
}

.clr {
    clear: both;
}


/* end header */


.titlePictures {
    display: block;
    width: 100%;
    height: 45px;
    padding: 0;
    margin-bottom: -1px;
}
/* detail */


#owl-promo {
    border: 3px solid #ba0953;
    width: calc(100% - 6px);
}

.homepromo {
    clear: both;
    display: block;
    background: #fff;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    flex: 1 100%;
    border-top: 1px solid #eee;
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;

    overflow: hidden;
}

.item2020 {
    height: auto !important;
}

.owl-carousel {
    position: relative;
    width: 100%;
    /* -ms-touch-action: pan-y; */
}

.owl-carousel .owl-wrapper-outer {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.owl-carousel .owl-warpper {
    width: 9690px;
    display: none;
    position: relative;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.homepromo .owl-item {
    float: left;
    width: 238px;
    height: 474px;
    padding: 0; 
    border: 1px solid#eee;
    cursor: pointer;
    overflow: hidden;
}

.homepromo .item {
    position: relative;
}


a.vertion2020 .heightlabel {
    overflow: hidden;
    height: 23px;
    line-height: 23px;
}
.heightlabel {
    background: #fbda00;
    color: #333;
    position: relative;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 0 5px 0 8px;
    margin: 5px 0 5px 5px;
    top: 10px;
    left: 5px;
    max-width: 70px;
    width: auto;
    height: auto;
}

.homepromo .item:hover .item-carts{
    opacity: 1;
    visibility: visible;
}
.homepromo .item:hover h3 {
    color: #288ad6;
}
.item .item-carts {
    position: absolute;
    top: 3%;
    right: 10%;
    border: #FF101D solid 1px;
    width: 23px;
    height: 23px;
    text-align: center;
    opacity: 0;
    visibility: hidden;
}
.item .item-carts  i {
    color: #FF101D;
    line-height: 23px;
    
}
.homepromo img {
    display: block;
    width: 180px;
    height: 180px;
    margin: 15px auto;
    transition: all ease 300ms;
}
.result-label.sale {
    background: linear-gradient(90deg,#ef3006 4.5%,#c60004 90.3%);
}
.result-label {
    display: inline-block;
    position: relative;
    border-radius: 15px;
    margin: 0 10px 5px;
    overflow: hidden;
    padding: 0 6px 0 0;
    max-height: 20px;
    max-width: 80px;
}
.result-label .roundy {
    display: inline-block;
    width: 12px;
    height: 12px;
    line-height: 12px;
    font-size: 11px;
    margin: 0;
    vertical-align: middle;
    border: 4px solid yellow;
    background: blue;
}
.result-label.sale span {
    display: inline-block;
    text-decoration: none;
    vertical-align: middle;
    color: #fff;
    font-size: 11px;
    font-family: Arial;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.5;
    margin-left: 3px;
}
.homepromo label.preorder {
    text-align: center;
    height: auto;
    background: #e91e63;
}

.item2020 a.vertion2020 label {
    position: static;
    margin: 0 10px 5px;
    display: inline-block;
    font-weight: unset;
}

.homepromo label {
    display: inline-block;
    position: absolute;
    top: 187px;
    left: 10px;
    font-size: 12px;
    color: #fff;
    font-weight: 600;
    background: #3fb846;
    border-radius: 2px;
    padding: 0 5px;
    height: 18px;
    line-height: 18px;
    width: auto;
}

a.vertion2020 h3 {
    margin: 0 10px;
    padding: 0;
}

.owl-item .item h3,
.homepromo h3 {
    display: block;
    line-height: 1.3em;
    font-size: 14px;
    color: black;
    margin: 0 10px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    text-decoration: none;
    font-weight: normal;
}

a.vertion2020 .props {
    margin: 0 10px;
    padding: 0;
    white-space: unset;
}

a.vertion2020 .props span {
    font-size: 12px;
    text-decoration: none;
    color: #333;
    border-radius: 5px;
    position: relative;
    margin: 2px 2px;
    border: 1px solid #7777;
    padding: 1px 5px !important;
}

h6.textkm {
    margin: 5px 10px 0;
    font-size: 12px;
    color: #d0021b;
}

.homepromo h6 {
    font-size: 12px;
    color: #d0021b;
    margin: 0 9px 0;
}

.homepromo strong {
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    font-size: 14px;
    color: #bf081f;
    line-height: 15px;
}

a.vertion2020 .price {
    padding: 0;
    margin: 5px 10px 0;
}

.homepromo .price {
    display: block;
    overflow: hidden;
    padding: 5px 10px 10px 10px;
}

.homepromo span {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    text-decoration: line-through;
    margin-left: 5px;
    color: #333;
}

a.vertion2020 .price i {
    font-size: 12px;
    color: #d0021b;
    margin: 0 5px 0;
    display: inline-block;
    vertical-align: middle;
    font-style: normal;
}

a.vertion2020 .promo {
    padding: 0;
    margin: 5px 10px 0;
}

.homepromo .promo {
    display: block;
    padding: 0 10px;
    margin: 0 10px 0 0;
    white-space: nowrap;
}

.homepromo .promo p {
    font-size: 12px;
    color: black;
    white-space: normal;
    line-height: 1.4;
    width: 155px;
    float: left;
    margin-left: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.homepromo .promo.noimage p {
    margin-left: 0;
    width: auto;
}

.item2020 a.vertion2020 .ratingresult {
    padding: 0;
    margin: 5px 10px 10px;
}

.item2020 a.vertion2020 .ratingresult i.icontgdd-ystar {
    background-position: -295px -30px;
    width: 12px;
    height: 12px;
}

.item2020 a.vertion2020 .ratingresult i {
    margin: 0;
}
.ratingresult span {
    text-decoration: none;
}

/* ngôi sao. */
[class^="icontgdd-"],
[class*="icontgdd-"],
[class^="iconmobile-"],
[class*="iconmobile-"] {
    background-image: url(https://www.thegioididong.com/Content/desktop/images/V5/icondesktop20200728@1x.png?v=2);
}

[class^="icontgdd-"],
[class*="icontgdd-"],
[class^="iconmobile-"],
[class*="iconmobile-"] {
    background-image: url(https://cdn.tgdd.vn/v2015/Content/desktop/images/V4/icondesktop2022@1x_edit.png?v=004);
    background-repeat: no-repeat;
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    vertical-align: middle;
}

/* end ngôi sao. */
.item2020 a.vertion2020 img.icon-imgNew.cate7077,
.item2020 a.vertion2020 img.icon-imgNew.cate42 {
    top: 167px;
    left: 170px;
}

.item2020 a.vertion2020 img.icon-imgNew {
    top: 107px;
}

.homepromo img.icon-imgNew.cate42 {
    top: 145px;
    left: 64%;
}

.homepromo img.icon-imgNew {
    top: 108px;
    position: absolute;
    left: 69%;
    width: 45px;
    height: auto;
}

.owl-theme .owl-controls {
    margin-top: 0;
    text-align: center;
}

.owl-controls {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.homepromo .owl-buttons {
    position: absolute;
    top: 24%;
    width: 100%;
    display: block;
}

.owl-theme .owl-controls .owl-buttons div {
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.owl-controls .owl-page,
.owl-controls .owl-buttons div {
    cursor: pointer;
}

.homepromo .owl-prev {
    position: absolute;
    left: 0;
    padding: 10px 0;
    margin: 0;
    border-radius: 0 5px 5px 0;
    background: #fff;
    width: 34px;
    height: 50px;
    text-align: center;
    font-size: 46px;
    color: #999;
    font-family: -webkit-body;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, .15);
}

.homepromo .owl-next {
    position: absolute;
    right: 0;
    padding: 10px 0;
    margin: 0;
    border-radius: 5px 0 0 5px;
    background: #fff;
    width: 34px;
    height: 50px;
    text-align: center;
    font-size: 46px;
    color: #999;
    font-family: -webkit-body;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, .15);
}

/* detail */



/* chi tiet */
.breadcrumb {
    display: block;
    overflow: hidden;
    background-color: #fff;
    line-height: 32px;
    padding-top: 5px;
}

.breadcrumb li {
    display: inline;
    vertical-align: middle;
    overflow: hidden;
}

.breadcrumb li a {
    white-space: nowrap;
    font-size: 14px;
    color: #288ad6;
    padding: 0 10px;
}
.breadcrumb li:first-child a{
    padding: 0 10px 0 0;
}

h1 {
    float: left;
    overflow: hidden;
    font-size: 24px;
    color: #333;
    line-height: 40px;
}

.ratingresult {
    float: left;
    font-size: 14px;
    color: #288ad6;
    padding: 10px 10px 0 12px;
}

.ratingresult span.star i.icontgdd-star {
    background-position: -295px -30px;
    width: 12px;
    height: 12px;
}

.ratingresult a {
    color: #288ad6;
    display: inline-block;
    vertical-align: middle;
    padding-top: 2px;
    margin-left: 8px;
}

.checkexist,
.likeshare {
    margin-right: 10px;
}

.likeshare {
    float: right;
    font-size: 14px;
    margin: 10px 0 0 0;
}

/* rowdetail */
.rowdetail {
    display: block;
    border-top: 1px solid #e5e5e5;
    padding: 15px 0;
    margin-top: 5px;
    clear: both;
    position: relative;
}

/* ảnh sản phẩm. */
.picture {
    float: left;
    overflow: hidden;
    width: 42%;
    position: relative;
    margin-bottom: 20px;
}

.picture .icon-position {
    position: relative;
}

.picture img {
    display: block;
    height: auto;
    margin: auto;
    cursor: pointer;
    max-width: 100%;
}

img {
    border: 0;
}

.picture img.icon-imgNew {
    position: absolute;
    right: 51px;
    bottom: 0;
    width: 100px;
    height: auto;
}

/* aảnh chi tiết sản phẩm */
.colorandpic {
    display: block;
    position: relative;
    padding: 0 24px;
    margin: 15px 0 0 0;
}

.colorandpic ul {
    display: block;
    overflow: visible;
    margin: auto;
    text-align: center;
    max-height: 98px;
}

.colorandpic li {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    overflow: hidden;
    font-size: 12px;
    color: #333;
    padding-bottom: 5px;
    line-height: normal;
    width: 60px;
}

/* đóng khugn */
.colorandpic li div {
    display: block;
    width: 46px;
    height: 46px;
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    padding: 6px;
    background: #fff;
    margin-bottom: 5px;
    cursor: pointer;
}

/* video */
.icontgdd-video {
    background-position: -325px -50px;
    width: 30px;
    height: 24px;
    display: block;
    margin: 12px auto;
}

/* mở hộp */
.icontgdd-box {
    background-position: -215px -50px;
    width: 30px;
    height: 30px;
    display: block;
    margin: 8px auto;
}

.icontgdd-360 {
    background-position: -280px -50px;
    width: 39px;
    height: 22px;
    display: block;
    margin: 14px auto;
}

.colorandpic .prev,
.colorandpic .next {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 20px;
    background: #fff;
    cursor: pointer;
}

.colorandpic .prev {
    left: 0;
    padding-top: 20px;
}

.colorandpic .next {
    right: 0;
    padding-top: 20px;
}

.icontgdd-prevthumd {
    background-position: -180px -50px;
    width: 12px;
    height: 21px;
    margin-left: 5px;
}

.icontgdd-nextthumd {
    background-position: -195px -50px;
    width: 12px;
    height: 21px;
    float: right;
}

/* gias basn */
.price_sale {
    float: left;
    position: relative;
    width: 33%;
    margin: 0 1% 0 1%;
}

.h-province.dt>div>b {
    cursor: pointer;
}

.h-province.detail>div>b {
    font-size: 14px;
    color: #4A90E2;
}

/* promotion */
.area_promotion {
    display: block;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 4px;
    position: relative;
    margin: 5px 10px 12px;
    background: #fff;
    padding-bottom: 10px;
}

.area_promotion {
    margin-top: 10px;
}

.area_price {
    display: inline-block;
    vertical-align: middle;
    padding-right: 0;
    padding-bottom: 5px;
}

.area_price {
    display: block;
    overflow: hidden;
    line-height: 20px;
    padding: 0 10px 10px;
}

.area_price strong {
    display: inline-block;
    overflow: hidden;
    font-size: 20px;
    color: #bf081f;
    vertical-align: middle;
    margin-right: 5px;
    position: relative;
}

.area_price span.hisprice {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    color: #333;
    text-decoration: line-through;
    margin-right: 5px;
}

.area_price i {
    display: inline-block;
    overflow: hidden;
    font-size: 14px;
    color: #bf081f;
    vertical-align: middle;
    font-style: normal;
    margin-right: 5px;
}

.area_promotion>strong {
    display: block;
    overflow: hidden;
    font-size: 15px;
    color: #333;
    padding: 10px 15px 8px 15px;
    text-transform: uppercase;
    background-color: #f6f6f6;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.area_promotion strong i {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #666;
    display: block;
    text-transform: none;
    padding-top: 1px;
}

.area_promotion .infopr span {
    display: block;
    overflow: hidden;
    font-size: 14px;
    color: #333;
    padding: 0 15px 5px 40px;
}

.area_promotion .infopr span:before {
    content: '';
    margin-left: -20px;
    background: url("https://www.thegioididong.com/Content/desktop/images/V4/game/check@2x.png");
    width: 14px;
    height: 14px;
    background-size: 14px 14px;
    margin-right: 0;
    float: left;
    margin-top: 2px;
}

.notechoose {
    background: #fff46a;
    padding: 10px;
    margin: 10px;
    display: none;
    font-size: 12px;
    color: #333;
    text-align: left;
}

.promo_BHX {
    font-size: 14px;
    color: #333;
    line-height: 20px;
    display: block;
    overflow: hidden;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 12px 12px 5px 12px;
    border-radius: 4px;
}

.area_promotion .promo_BHX {
    margin-left: 0;
    margin-right: 0;
    border-left: none;
    border-right: none;
    border-top-style: dashed;
    border-bottom-style: dashed;
    padding-top: 8px;
}

.promo_BHX .l1 {
    float: left;
}

.promo_BHX .l1 img {
    width: 16px;
}

.promo_BHX .l2 {
    float: right;
    width: calc(100% - 25px);
}

.promo_BHX .l2 a {
    color: #288ad6;
}

.promo_BHX .l2 div p strong {
    color: #e10c00;
}

.promo_BHX .l2 p {
    font-size: 14px;
    position: relative;
    padding-left: 10px;
    overflow: hidden;
}

.promo_BHX .l2 p:after {
    position: absolute;
    content: '';
    width: 4px;
    height: 4px;
    left: 0;
    top: 8px;
    background: #000;
    border-radius: 50%;
}

.promo_BHX .l2 p.first-pap {
    margin-bottom: 5px;
}

/* contact */
.area_order {
    display: block;
    overflow: hidden;
    margin: 10px;
    position: relative;
}

.area_order .buy_now {
    display: block;
    overflow: hidden;
    padding: 7px 0;
    border-radius: 4px;
    font-size: 16px;
    line-height: normal;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    background: #fd6e1d;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fd6e1d), to(#f59000));
    background: -webkit-linear-gradient(top, #f59000, #fd6e1d);
    background: -moz-linear-gradient(top, #f59000, #fd6e1d);
    background: -ms-linear-gradient(top, #f59000, #fd6e1d);
    background: -o-linear-gradient(top, #f59000, #fd6e1d);
}

.area_order .buy_now b {
    display: block;
}

.area_order span {
    display: block;
    font-size: 13px;
    color: #fff;
    text-transform: none;
    padding-top: 3px;
}

.area_order .buy_repay {
    line-height: normal;
    display: block;
    padding: 7px 0;
    text-align: center;
    margin: 10px 0 0;
    background: #288ad6;
    color: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-size: 15px;
    text-transform: uppercase;
    width: 48.5%;
    float: left;
}

.area_order .buy_repay.s {
    float: right;
}

/* rightInfo */
.rightInfo {
    float: right;
    width: 22.5%;
    overflow: visible;
    background: #fff;
    position: relative;
}

.policy {
    display: block;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    padding-top: 10px;
}


.policy li {
    display: block;
    overflow: hidden;
    padding: 7px 0 7px 28px;
    font-size: 14px;
    color: #333;
    line-height: 20px;
    margin: 0 10px;
    border-bottom: solid 1px #f0f0f0;
    position: relative;
}

.policy li:first-child {
    padding-top: 0;
    min-height: 30px;
}

.policy .inpr:before {
    content: '';
    background: url("https://www.thegioididong.com/Content/desktop/images/V4/game/trong-hop-co@2x.png") 0 0 no-repeat;
    width: 19px;
    height: 16px;
    background-size: 19px 16px;
    position: absolute;
    display: block;
    top: 4px;
    left: 0;
}

.policy .wrpr:before {
    content: '';
    background: url("https://www.thegioididong.com/Content/desktop/images/V4/game/bao-hanh-chinh-hang@2x.png") 2px 0 no-repeat;
    width: 19px;
    height: 23px;
    background-size: 16px 23px;
    position: absolute;
    display: block;
    top: 4px;
    left: 0;
}

.policy .chpr:before {
    content: '';
    background: url("https://www.thegioididong.com/Content/desktop/images/V4/game/1-doi-1@2x.png") 0 0 no-repeat;
    width: 18px;
    height: 20px;
    background-size: 18px 20px;
    position: absolute;
    display: block;
    top: 6px;
    left: 0;
}

/* end rightInfo */
/* end rowdetail */

/* box-content */
.box_content {
    display: block;
    overflow: hidden;
    border-top: 1px solid #e4e4e4;
    margin-top: 15px;
}

.left_content {
    float: left;
    width: 65%;
    overflow: hidden;
    position: relative;
    margin: 20px 0;
}

.right_content {
    float: right;
    width: 35%;
    overflow: visible;
    margin: 20px 0;
}

/* left-content */
.characteristics {
    display: block;
    overflow: hidden;
    position: relative;
    padding-bottom: 20px;
    cursor: pointer;
}

.characteristics h4,
.characteristics h3,
.characteristics h2 {
    display: block;
    line-height: 1.3em;
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

article.area_articleFull {
    overflow: visible;
}

article {
    display: block;
    font-size: 16px;
    color: #333;
    line-height: 1.5;
    margin-top: 15px;
    max-width: 750px;
    overflow: hidden;
}

article h2,
article h3 {
    display: block;
    overflow: hidden;
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
    line-height: 1.3em;
    font-weight: bold;
}

article h2 a,
article h3 a {
    font-weight: bold;
    font-size: 20px;
}

article a {
    color: #50a8e3;
}

article p {
    display: block;
    margin: 10px 0;
}

#owl-detail .item img.iYt {
    position: absolute;
    width: auto;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#owl-detail .item img {
    display: block;
    width: 100%;
    height: auto;
}

.parameter {
    display: block;
    position: relative;
    overflow: hidden;
    background: #fff;
    padding-top: 10px;
}

.parameter li {
    display: table;
    background: #fff;
    width: 100%;
    border-top: 1px solid #eee;
    padding: 5px 0;
}

.parameter li span {
    display: table-cell;
    width: 40%;
    vertical-align: top;
    padding: 5px 0;
    font-size: 14px;
    color: #666;
}

.parameter li div {
    display: table-cell;
    width: auto;
    vertical-align: top;
    padding: 6px 5px;
    font-size: 14px;
    color: #333;
}

.parameter li div a {
    color: #288ad6;
}

.parameter li div.isim {
    display: block;
    border-bottom: 1px solid #eee;
}

.parameter li div.ibsim {
    display: block;
}

.parameter li div.ibsim b.h {
    background: #e91935;
    color: #fff;
    padding: 3px 5px;
    border-radius: 3px;
    font-size: 10px;
    margin-right: 5px;
}

/* xem cau hinh chi tiet */
.viewparameterfull {
    display: block;
    width: 100%;
    padding: 6px 0;
    margin: 10px 0 0;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    background-color: #288ad6;
    color: #fff;
    border: 1px solid #288ad6;
    border-radius: 4px;
}

/* endbox-content */
/* ket thuc chi tiet */


/* product laptop*/
/* laptop và cả điện thoại. */
.homeproduct li .laptop img,
.owl-item>.item img {
    margin: 45px auto;
    height: auto;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.homepromo .laptop img {
    height: auto;
    margin: 45px auto;
}

.homeproduct a>img,
.owl-item>.item img {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.homeproduct li img {
    display: block;
    width: 180px;
    height: 180px;
    margin: 15px auto;
}

/* end productlaptop */

/* products_related */
.related {
    width: 100%;
    position: relative;
    clear: both;
    overflow: hidden;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    padding: 10px 0 20px;
    max-height: 950px;
}
.related .owl-controls {
    display: none;
}
.related img.icon-imgNew {
    display: none;
}
.related #owl-promo {
    width: 100%;
    border: none;
}
.related section.homeproductsale {
    width: 100%;
    max-width: 100%;
    min-width: auto;
    margin: 0px auto auto;
    position: relative;
}
.related section.homeproductsale .owl-carousel .owl-warpper {
    width: 100%;
}
.related section.homeproductsale li.owl-item {
    float: left;
    overflow: hidden;
    width: 25%;
    padding: 0 5px;
    box-sizing: border-box;
    height: auto;

}
.related .noimage,
.related .ratingresult {
    visibility: hidden;
    opacity: 0;
    display: none;
}

/* end products_related */