// Here you can add other styles
section {
    max-width: 1200px;
    width: 100%;
    min-width: 1024px;
    margin: 0px auto 20px;
    position: relative;
    overflow: hidden;
    background: #FFF;
}
.btn-carts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    color: white;
    padding-bottom: 10px;
}
    .btn-back {
        padding: 10px 20px;
        background-color: #81B700;
    }
    .btn-checkout {
        padding: 10px 20px;
        background-color: #FED101;
    }
        .btn-checkout:hover {
            background-color: #288ad6;
            color: #FFF;
        }